<h3>Nueva Pregunta</h3>
<div [hidden]="submitted">
    <form #addQuestionForm="ngForm">

      <div class="form-group">
        <label for="question">Pregunta</label>
        <input type="text" class="form-control" id="question" placeholder="Pregunta" 
        required
        [(ngModel)]="question.question" name="question" #question="ngModel">
        <div [hidden]="question.valid || question.pristine"
             class="alert alert-danger">
            Pregunta Requerida
        </div>
      </div>
      
      <div class="form-group">
        <label for="Answer1">Respuesta correcta</label>
        <input type="text" class="form-control" id="Answer1" placeholder="Respuesta correcta"
        required
        [(ngModel)]="question.Answer1" name="Answer1" #Answer1="ngModel">
        <div [hidden]="Answer1.valid || Answer1.pristine"
             class="alert alert-danger">
            Respuesta correcta requerida
        </div>
      </div>
      
      <div class="form-group">
        <label for="Answer2">Respuesta 2</label>
        <input type="text" class="form-control" id="Answer2" 
        placeholder="Respuesta 2"
        required
        [(ngModel)]="question.Answer2" name="Answer2" #Answer2="ngModel">
        <div [hidden]="Answer2.valid || Answer2.pristine"
             class="alert alert-danger">
            Respuesta 2 requerida
        </div>
      </div>

      <div class="form-group">
        <label for="Answer3">Respuesta 3</label>
        <input type="text" class="form-control" id="Answer3" 
        placeholder="Respuesta 3"
        required
        [(ngModel)]="question.Answer3" name="Answer3" #Answer3="ngModel">
        <div [hidden]="Answer3.valid || Answer3.pristine"
             class="alert alert-danger">
            Respuesta 3 requerida
        </div>
      </div>

      <div class="form-group">
        <label for="Answer4">Respuesta 4</label>
        <input type="text" class="form-control" id="Answer4" 
        placeholder="Respuesta 4"
        required
        [(ngModel)]="question.Answer4" name="Answer4" #Answer4="ngModel">
        <div [hidden]="Answer4.valid || Answer4.pristine"
             class="alert alert-danger">
            Respuesta 4 requerida
        </div>
      </div>
      
      <div class="btn-group btn-group-sm">
      	<button type="button" class="btn btn-dark" (click)="goBack()">Volver</button>
      	<button type="button" class="btn btn-dark" (click)="addQuestion()" [disabled]="!addQuestionForm.form.valid">Registrar</button>
      </div>
    </form>
</div>

<div [hidden]="!submitted">
  <p>Envío correcto -> <span class="badge badge-light">{{question.question}}  {{question.answer1}}</span></p>
	<div class="btn-group btn-group-sm">
    	<button type="button" class="btn btn-dark" (click)="goBack()">Volver</button>
    	<button type="button" class="btn btn-dark" (click)="newQuestion(); addQuestionForm.reset()">Seguir</button>
    </div>
</div>